*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* adding a gradient background */
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calc-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  /* adds the columns to the grid */
  grid-template-columns: repeat(4, 6rem);
  /* auto lets the grid expand if the number input is large */
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

/* this grid spans over 2 columns */
.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  /* wraps words onto next line */
  word-wrap: break-word;
  word-break: break-all;

}

.output .prev-operand {
  /* transparent white */
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
  /* removes border outline */
  outline: none;
  background-color: ;
}


.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.calc-grid>button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  /* white and transparent background */
  background-color: rgba(255, 255, 255, .75);
}

/* hover effect and focus effect with lower background transparency */
.calc-grid>button:hover,
.calc-grid>button:focus {
  background-color: rgba(255, 255, 255, .9);
}